<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Selected list item
    </h3>
  </div>
    <table class="table">
      <tr>
        <th class="col-sm-3">ID</th>
        <td class="col-sm-9">{{item.id}}</td>
      </tr>
      <tr>
        <th class="col-sm-3">Name</th>
        <td class="col-sm-9">{{item.name}}</td>
      </tr>
      <tr>
        <th class="col-sm-3">Description</th>
        <td class="col-sm-9">{{item.description}}</td>
      </tr>
      <tr>
        <th class="col-sm-3">Store Aisle</th>
        <td class="col-sm-9">{{item.aisle}}</td>
      </tr>
      <tr>
        <th class="col-sm-3">Price Each</th>
        <td class="col-sm-9">{{item.unitPrice}}</td>
      </tr>
      <tr>
        <th class="col-sm-3">Quantity</th>
        <td class="col-sm-9">{{item.quantity}}</td>
      </tr>
    </table>

</div>
